---
import Layout from "../layouts/Layout.astro";
import SystemMeta from "../components/SystemMeta.astro";
import LandingHero from "../components/LandingHero.astro";
import ProjectsThreshold from "../components/ProjectsThreshold.astro";
---

<Layout title="Q888 — Identity">
  <main class="relative min-h-screen">
    <section id="landing" class="relative">
      <SystemMeta position="top" />
      
      <LandingHero />
      
      <SystemMeta position="bottom" />
    </section>

    <ProjectsThreshold />

    <!-- Future Sections -->
    <div id="projects"></div>
    <div id="infocigan"></div>
    <div id="contact"></div>
  </main>
</Layout>
